.hbp-disabler-message {
  position: relative;
}

.hbp-disabler-message-close {
  position: static;
  top: 0;
  right: 0;
  float: right;
  padding: 0 15px 10px 28px;
  margin-top: -10px;
  font-size: 13px;
  line-height: 1.23076923;
  text-decoration: none;
}

.hbp-disabler-message-close::before {
  position: relative;
  top: 18px;
  left: -20px;
  transition: all .1s ease-in-out;
}
